@import '../core/base'
@import '../core/theme'

$tab_color = $black
$tab_bg_color = $white
$tab_on_color = $white
$tab_on_bg_color = $blue
$tab_hover_bg_color = #eee
$tab_bottom_border_color = $blue

.muui-theme-main
    theme()
