extends ../core/base

block head
    link(rel="stylesheet", href="/st/bower/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/st/bower/bootstrap/dist/css/bootstrap-theme.css")

block content
    .muui-modal.modal.fade

block js
    :coffee
        require [
            'muui/modal/index'
        ], (Modal) ->
            console.log Modal
            new Modal()
