extends ../core/base

block head
    link(rel="stylesheet", href="/st/ui/button/index.css")

block content
    .show-modal.muui-btn.muui-btn-primary 显示弹窗

block js
    :coffee
        require [
            'muui/modal/index'
        ], (Modal) ->
            modal = new Modal({
                data:
                    title: '弹窗的标题'
                    body: '''
                        <h3>弹窗的内容</h3>
                        <p>第一段测试内容</p>
                        <p>第二段测试内容</p>
                    '''
            })

            $('.show-modal').click ->
                modal.show()
