extends ../core/base

block head
    link(rel="stylesheet", href="/st/bower/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/st/bower/bootstrap/dist/css/bootstrap-theme.css")

block content
    .muui-modal.modal.fade

block js
    :coffee
        require [
            'muui/modal/index'
        ], (Modal) ->
            new Modal({
                data:
                    title: '弹窗的标题'
                    body: '''
                        <h3>弹窗的内容</h3>
                        <p>第一段测试内容</p>
                        <p>第二段测试内容</p>
                    '''
            })
