extends ../core/base

block content
    #panel.
      第#{page}页
    #pager-placeholder

block css
    :css
        .muui-tab-panel {
            padding-top: 50px;
            text-align: center;
            font-size: 24px;
        }

block js
    :coffee
        require [
            'muui/ui/pager'
        ], (Pager) ->
            pager = new Pager({
                el: '#pager-placeholder'
                datasource: '/datasource/tab'
                render_args:
                    path: '/pager?page={page}'
                    cur: 10
                    total: 199
                    size: 10
                    length: 8
                    prev_lable: '上页'
                    next_lable: '下页'
                after_render: (r) ->
                    console.log r
            })
