extends ../core/base

append vars
    - page = page || 1

append head
    link(rel="stylesheet", href="/st/css/ui/tab.css")

block content
    #tab-placeholder
    .muui-tab-panel.default-panel.on
        | 第#{page}页
        .default-pager-placeholder
    .muui-tab-panel.ajax-panel
        include ./include/ajax_pager.jade

block css
    :stylus
        .muui-tab-panel
            height: 200px
            line-height: 200px
            font-size: 36px
            font-weight: bold
            text-align: center
            background: #fafafa
            margin-bottom: 25px
        .muui-pager
            text-align: center
            font-weight: normal

block js
    :coffee
        require [
            'muui/ui/tab'
            'muui/ui/pager'
        ], (Tab, Pager) ->
            new Tab({
                el: '#tab-placeholder'
                data:
                    cur: '.default-panel'
                    items: [
                        {
                            target: '.default-panel'
                            name: '页面刷新'
                        }
                        {
                            target: '.ajax-panel'
                            name: '局部刷新'
                        }
                    ]
            })

            render_args = {
                path: '/pager?page={page}'
                cur: '#{page}'
                total: 199
                size: 10
                length: 8
                prev_lable: '上页'
                next_lable: '下页'
            }


            new Pager({
                el: '.default-pager-placeholder'
                render_args: render_args
            })

            pager = new Pager({
                el: '.ajax-pager-placeholder'
                render_args: render_args
                handles:
                    redirect: (e) ->
                        e.preventDefault()

                        page = $(this).data('page')
                        url = "/include/ajax_pager?page=#{page}"

                        $('.ajax-panel').load(url, ->
                            pager.render(
                                _.defaults({
                                    cur: page
                                }, render_args)
                            ).done ->
                                pager.init_events()
                        )
            })
