extends ../core/base

append vars
    - page = page || 1

block content
    #panel.
      第#{page}页
    #pager-placeholder

block css
    :stylus
        #panel
            height: 200px
            line-height: 200px
            font-size: 36px
            font-weight: bold
            text-align: center
            background: #fafafa
            margin-bottom: 25px
        .muui-pager
            text-align: center

block js
    :coffee
        require [
            'muui/ui/pager'
        ], (Pager) ->
            pager = new Pager({
                el: '#pager-placeholder'
                datasource: '/datasource/tab'
                render_args:
                    path: '/pager?page={page}'
                    cur: '#{page}'
                    total: 199
                    size: 10
                    length: 8
                    prev_lable: '上页'
                    next_lable: '下页'
                after_render: (r) ->
                    console.log r
            })
