extends ../core/base

block content
    #slider.muui-slider
        ul.muui-slider-items
            each page in [1, 2, 3, 4, 5]
                li.muui-slider-item(class="#{page === 1 && 'on' || ''}")
                    a(href="javascript:;")
                        img(alt="#{page}" src="/st/img/slider/#{page}.jpg")

block css
    :stylus
        #slider
            &, .muui-slider-items
                width: 580px
                height: 200px

block js
    :coffee
        require [
            'muui/slider/index'
        ], (Slider) ->
            window.s = new Slider()
