extends ../core/base

block content
    #tab-placeholder
    .muui-tab-panel.rec-panel.
        推荐
    .muui-tab-panel.pop-panel.
        流行
    .muui-tab-panel.rock-panel.on.
        摇滚
    .muui-tab-panel.hiphop-panel.
        HipHop/说唱

block css
    :stylus
        .muui-tab-panel
            padding-top: 50px
            text-align: center
            font-size: 24px

block js
    :coffee
        require [
            'muui/ui/tab'
        ], (Tab) ->
            new Tab({
                el: '#tab-placeholder'
                datasource: '/datasource/tab'
            })
