extends ../core/base

append vars
    - var ui_name = 'tab'

block js
    :coffee
        require ['ui/tab'], (UI) ->
            ui = new UI({
                el: '#tab-ui'
                datasource: '/datasource/tab'
                data_filter: (r) ->
                    r.items = r.items.slice(0, 2)
                    r
            })
