extends ../core/webapp_base

append vars
    - var ui_name = 'tab'

block content
    #tab-placeholder
    .muui-tab-panel.rec-panel.on.
        推荐
    .muui-tab-panel.pop-panel.
        流行

block css
    :css
        .muui-tab-panel {
            padding-top: 50px;
            text-align: center;
            font-size: 24px;
        }

block js
    :coffee
        require [
            'muui/ui/tab'
        ], (UI) ->
            new UI({
                el: '#tab-placeholder'
                datasource: '/datasource/tab'
                data_filter: (r) ->
                    r.cur = '.rec-panel'
                    r.items = r.items.slice(0, 2)
                    r
            })