#ui-nav
    ul
        border($lighter_grey)
    li
        line-vertical-middle(35px)
        &.even
            border-top($lighter_grey)
            background: #fafafa
    a
        text-decoration: none
        color: $black
        padding: 0 15px
        display: block
        &:hover
            background: lightness(#5bc0de, 90%)
