global-reset()

*
    &, &:before, &:after
        box-sizing(border-box)

html, body
    height: 100%

#header, #content, #footer
    relative()
    overflow: hidden

#header
    border-bottom(#28a1c5)
    line-vertical-middle($header_height)
    background: #5bc0de
    h1
        line-vertical-middle($header_height)
        color: $white
        font-size: 24px
        font-weight: bold
        a
            color: $white
            text-decoration: none
        em, i
            font-size: 20px
        i
            text-shadow: 1px 1px 0 $white
            color: #28a1c5
            margin-left: 5px

#content
    min-height(100%)
    padding-top: 60px
    margin-bottom: - $content_bottom
    // 页脚沉底：http://notidea.com/html-css/footer-always-bottom.html
    &:after
        display: block
        content: ''
        height: $content_bottom

#footer
    border-top($lighter_grey)
    line-vertical-middle($footer_height)
    margin-top: $footer_margin_top
    background: $dark_white

*
    box-sizing(border-box)

html, body
    background: $white
    line-height: 1.3
    font-size: 14px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: normal

h1, h2
    title()
    line-height: 1
    padding-bottom: .2em

.clearfix
    clearfix()

.center-wrap
    center-block(980px)

.mod
    margin-bottom: 40px
    .hd
        margin-bottom: 12px
        &, h2
            font-size: 18px
            font-weight: bold
            padding-bottom: 0
    .bd
        break-word()
