body.modal-open
    overflow: hidden

.muui-modal
    fixed(top left)
    size(100%, 100%)
    text-align: center
    overflow-x: hidden
    overflow-y: auto
    z-index: 1001

    .muui-modal-stick
        size(1px, 100%)
        margin-right: -.31em
        overflow: hidden

    .muui-modal-stick, .muui-modal-dialog
        inline-block()
        vertical-align: middle

    .muui-modal-header, .muui-modal-body, .muui-modal-footer
        min-width(350px)
        padding: 0 20px
        background: $white

    .muui-modal-header
        relative()
        padding-top: 15px
        h3
            title(14px)
        .close
            size(17px)
            hide-text()
            absolute(top 15px right 15px)
            cursor: pointer
            background: transparent url('/st/ui/modal/cross.png') no-repeat 3px 3px

    .muui-modal-body
        padding: 15px 20px

    .muui-modal-footer
        text-align: center
        padding-bottom: 25px
        .submit
            margin-right: 10px

    .modal-dialog
        relative()
        z-index: 1001
        overflow: hidden
        padding: 5px
        background: $lighter_grey

    .modal-backdrop
        opacity(.6)
        fixed(top 0 left 0)
        width: 100% !important
        height: 100% !important
        _position: absolute
        background: $white
