$tooltip_max_width = 200px
$tooltip_color = $white
$tooltip_bg = $black
$tooltip_opacity = .9
$tooltip_arrow_width = 5px
$tooltip_arrow_color = $tooltip_bg

.muui-tooltip
    opacity(0)
    absolute()
    z-index: 1000
    display: block
    visibility: visible
    font-size: 12px
    line-height: 1.4
    &.in
        opacity($tooltip_opacity)
    &.top
        margin-top: -3px
        padding: $tooltip_arrow_width 0
    &.right
        margin-left: 3px
        padding: 0 $tooltip_arrow_width
    &.bottom
        margin-top: 3px
        padding: $tooltip_arrow_width 0
    &.left
        margin-left: -3px
        padding: 0 $tooltip_arrow_width

    .tooltip-inner
        border-radius(4px)
        max-width($tooltip_max_width)
        color: $tooltip_color
        padding: 3px 8px
        text-align: center
        text-decoration: none
        background-color: $tooltip_bg

    .tooltip-arrow
        size(0)
        absolute()
        border-style: solid
        border-color: transparent

    &.top .tooltip-arrow
        bottom: 0
        left: 50%
        margin-left: - $tooltip_arrow_width
        border-width: $tooltip_arrow_width $tooltip_arrow_width 0
        border-top-color: $tooltip_arrow_color

    &.top-left .tooltip-arrow
        bottom: 0
        left: $tooltip_arrow_width
        border-width: $tooltip_arrow_width $tooltip_arrow_width 0
        border-top-color: $tooltip_arrow_color

    &.top-right .tooltip-arrow
        bottom: 0
        right: $tooltip_arrow_width
        border-width: $tooltip_arrow_width $tooltip_arrow_width 0
        border-top-color: $tooltip_arrow_color

    &.right .tooltip-arrow
        top: 50%
        left: 0
        margin-top: - $tooltip_arrow_width
        border-width: $tooltip_arrow_width $tooltip_arrow_width $tooltip_arrow_width 0
        border-right-color: $tooltip_arrow_color

    &.left .tooltip-arrow
        top: 50%
        right: 0
        margin-top: - $tooltip_arrow_width
        border-width: $tooltip_arrow_width 0 $tooltip_arrow_width $tooltip_arrow_width
        border-left-color: $tooltip_arrow_color

    &.bottom .tooltip-arrow
        top: 0
        left: 50%
        margin-left: - $tooltip_arrow_width
        border-width: 0 $tooltip_arrow_width $tooltip_arrow_width
        border-bottom-color: $tooltip_arrow_color

    &.bottom-left .tooltip-arrow
        top: 0
        left: $tooltip_arrow_width
        border-width: 0 $tooltip_arrow_width $tooltip_arrow_width
        border-bottom-color: $tooltip_arrow_color

    &.bottom-right .tooltip-arrow
        top: 0
        right: $tooltip_arrow_width
        border-width: 0 $tooltip_arrow_width $tooltip_arrow_width
        border-bottom-color: $tooltip_arrow_color
