$theme = 'main'

$white = #fff
$dark_white = #f4f4f4
$black = #252525
$grey = #999
$dark_grey = #666
$light_grey = #ccc
$lighter_grey = #e6e6e6
$blue = #299de7
$light_blue = #327ccb

$page_width = 980px
$img_path = '../../img/'

// https://github.com/twbs/bootstrap/blob/master/less/variables.less
$brand_primary = #428bca
$brand_success = #5cb85c
$brand_info = #5bc0de
$brand_warning = #f0ad4e
$brand_danger = #d9534f

$font_size_base = 14px
$line_height_base = 1.428571429 // 20 / 14
$padding_base_vertical = 6px
$padding_base_horizontal = 12px
$line_height_computed = floor($font_size_base * $line_height_base) // ~20px
$input_height_base = $line_height_computed + $padding_base_vertical * 2 + 7

$header_height = 50px
$footer_height = 60px
$footer_margin_top = 50px
$content_bottom = $header_height + $footer_height + $footer_margin_top
