$theme = 'main'

$white = #fff
$dark_white = #f4f4f4
$black = #252525
$grey = #999
$dark_grey = #666
$light_grey = #ccc
$lighter_grey = #e6e6e6
$blue = #299de7
$light_blue = #327ccb

$page_width = 980px

$img_path = '../../img/'
