global-reset()

#header
    border-bottom(#28a1c5)
    background: #5bc0de
    h1
        line-height(50px)
        color: $white
        font-size: 24px
        font-weight: bold
        em, i
            font-size: 20px
        i
            text-shadow: 1px 1px 0 $white
            color: #28a1c5
            margin-left: 5px

#content
    min-height: 490px
    margin: 50px auto

#footer
    line-height(60px)
    border-top($light_grey)
    background: $dark_white

*
    box-sizing(border-box)

html, body
    background: $white
    line-height: 1.3
    font-size: 14px
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight: normal

h1, h2
    title()
    line-height: 1
    padding-bottom: .2em

.clearfix
    clearfix()

.center-wrap
    center-block(auto)

.mod
    margin-bottom: 40px
    .hd
        margin-bottom: 12px
        &, h2
            font-size: 18px
            font-weight: bold
            padding-bottom: 0
    .bd
        break-word()
