title($font = 16px, $color = $black)
    color: $color
    font-size: $font
    font-weight: bold

center-block($width = $$page_width)
    display: block
    margin-left: auto
    margin-right: auto
    if $width
        width: $width

line-vertical-middle($height)
    height: $height
    line-height: $height

inline-block()
    display: inline-block
    *zoom: 1
    *display: inline

float-left()
    float: left
    display: inline

float-right()
    float: right
    display: inline

// http://ued.taobao.com/blog/2010/10/research-of-word-wrap/
break-word()
    word-wrap: break-word
    word-break: break-all
    overflow: hidden

// 消除CSS3动画时的闪烁问题，参考:
// http://stackoverflow.com/questions/3461441/prevent-flicker-on-webkit-transition-of-webkit-transform
// http://davidwalsh.name/translate3d
accelerate()
    -webkit-transform: translate3d(0, 0, 0)
    -webkit-backface-visibility: hidden
    -webkit-perspective: 1000

-border-vendor(direction, color, args...)
    unless direction in (top right bottom left)
        error('invalid direction')
    if color is a 'color' && !args
        border-{direction}: 1px solid color
    else
        border-{direction}: color args

border-top()
    -border-vendor(top, arguments)

border-right()
    -border-vendor(right, arguments)

border-bottom()
    -border-vendor(bottom, arguments)

border-left()
    -border-vendor(left, arguments)
