title($font = 16px, $color = $black)
    color: $color
    font-size: $font
    font-weight: bold

center-block($width = $page_width)
    display: block
    margin-left: auto
    margin-right: auto
    if $width
        width: $width

line-vertical-middle($height)
    height: $height
    line-height: $height

inline-block()
    display: inline-block
    *zoom: 1
    *display: inline

min-height($height)
    min-height: $height
    height: auto !important
    height: $height

min-width($width)
    min-width: $width
    width: auto !important
    width: $width

float-left()
    float: left
    display: inline

float-right()
    float: right
    display: inline

// http://ued.taobao.com/blog/2010/10/research-of-word-wrap/
break-word()
    word-wrap: break-word
    word-break: break-all
    overflow: hidden

// 消除CSS3动画时的闪烁问题，参考:
// http://stackoverflow.com/questions/3461441/prevent-flicker-on-webkit-transition-of-webkit-transform
// http://davidwalsh.name/translate3d
accelerate()
    -webkit-transform: translate3d(0, 0, 0)
    -webkit-backface-visibility: hidden
    -webkit-perspective: 1000

-border-vendor(direction, color, args...)
    unless direction in (top right bottom left)
        error('invalid direction')
    if color is a 'color' && !args
        border-{direction}: 1px solid color
    else
        border-{direction}: color args

border-top()
    -border-vendor(top, arguments)

border-right()
    -border-vendor(right, arguments)

border-bottom()
    -border-vendor(bottom, arguments)

border-left()
    -border-vendor(left, arguments)

arrow-top($width, $color)
    size(0)
    border-left: $width solid transparent
    border-right: $width solid transparent
    border-bottom: $width solid $color

arrow-right($width, $color)
    size(0)
    border-top: $width solid transparent
    border-bottom: $width solid transparent
    border-left: $width solid $color

arrow-bottom($width, $color)
    size(0)
    border-left: $width solid transparent
    border-right: $width solid transparent
    border-top: $width solid $color

arrow-left($width, $color)
    size(0)
    border-top: $width solid transparent
    border-bottom: $width solid transparent
    border-right: $width solid $color

// WebKit-style focus: https://github.com/twbs/bootstrap/blob/master/less/mixins/tab-focus.less
tab-focus()
    outline: thin dotted
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px

placeholder($color = #999)
    &.placeholder
        color: $color
    &::-moz-placeholder
        color: $color
        opacity: 1
    &:-ms-input-placeholder
        color: $color
    &::-webkit-input-placeholder
        color: $color

filter()
    vendor('filter', arguments, only: webkit moz official)

pngfix($icon)
    _background-image: none
    _filter: unquote('progid:DXImageTransform.Microsoft.AlphaImageLoader(src=' + $img_path + $icon + '.png, sizingMethod=crop)')
