// base mixin
vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args

// css3
text-shadow()
    text-shadow: arguments

box-sizing()
    vendor('box-sizing', arguments)

border-radius()
    vendor('border-radius', arguments)

display-box()
    display: -webkit-box
    display: box

box-flex()
    vendor('box-flex', arguments)

// nib
border(color, args...)
  if color is a 'color'
    border: 1px solid color args
  else
    border: arguments

size()
  if length(arguments) == 1
    width: arguments[0]
    height: arguments[0]
  else
    width: arguments[0]
    height: arguments[1]


square($size)
    size($size, $size)

line-height($height)
    height: $height
    line-height: $height

title($font = 16px, $color = $black)
    color: $color
    font-size: $font
    font-weight: bold

clearfix()
    *zoom: 1
    &:after
        content: ""
        display: table
        clear: both

center-block($width)
    display: block
    margin-left: auto
    margin-right: auto
    if $width
        width: $width

float-left()
    float: left
    display: inline

float-right()
    float: right
    display: inline
