.muui-tab
    clearfix()
    max-height()
    overflow: hidden
    border-bottom: 2px solid transparent
    .muui-tab-item
        float-left()
        border($lighter_grey)
        relative(left 0 top 1px)
        line-vertical-middle(40px)
        border-left: none
        padding: 0 25px
        cursor: pointer
        &.first
            border-left($lighter_grey)
        &.on
            cursor: default

.muui-tab-panel
    display: none !important
    &.on
        display: block !important

if $theme is 'main'
    .muui-tab
        border-color: $light_blue
        .muui-tab-item
            color: $black
            background: $white
            &.on
                color: $white
                background: $light_blue
                border-color: $light_blue
                &:before
                    border-bottom-color: $light_blue
                &:after
                    border-bottom-color: $light_blue
            &.hover
                background: #eee
