$pager_color = $blue
$pager_border_color = #e7ecf0

.muui-pager
    // HACK: 去除inline-block元素的间隙
    // 参考: http://css-tricks.com/fighting-the-space-between-inline-block-elements/
    font-size: 0
    -webkit-text-size-adjust: none
    .muui-pager-ellipse
        inline-block()
        line-height(24px)
        font-size: 14px
        color: $pager_color
        margin-right: 5px
    .muui-pager-item
        @extend .muui-pager .muui-pager-ellipse
        border($pager_border_color)
        padding: 0 8px
        cursor: pointer
        text-decoration: none
        &.on
            background: $pager_border_color
        &.cur
            cursor: text
            border: none
            color: $black
    .muui-pager-prev, .muui-pager-next
        relative()
        &:after
            absolute(top 50%)
            height: 24px
            margin-top: -12px
    .muui-pager-prev
        padding-left: 18px
        &:after
            left: 8px
            content: '<'
    .muui-pager-next
        padding-right: 18px
        margin-right: 0
        &:after
            right: 8px
            content: '>'
