.muui-tab
    clearfix()
    overflow: hidden
    border-bottom: 2px solid transparent
    .muui-tab-item
        float-left()
        line-height(40px)
        position: relative
        left: 0
        top: 1px
        border: $border
        border-left: none
        padding: 0 25px
        cursor: pointer
        &.first
            border-left: $border
        &.on
            cursor: default

.muui-tab-panel
    display: none !important
    &.on
        display: block !important
