@import core/base

.muui-tab
    +display-flex
    +flex-wrap(wrap)
    border-bottom: 1px solid transparent
    background: #fbfbfb
    .muui-tab-item
        +flex(1 0)
        +inline-block
        +line-height(43px)
        text-align: center
        font-size: 16px
        position: relative
        &.on
            &:before, &:after
                +square(0)
                content: ''
                border-left: 8px solid transparent
                border-right: 8px solid transparent
                position: absolute
                left: 50%
                margin-left: -8px
                bottom: 0
                display: block
            &:after
                bottom: -1px

.muui-tab-panel
    display: none
    &.on
        display: block
