.muui-tab
    display(flex)
    border-bottom: 1px solid transparent
    background: #fbfbfb
    .muui-tab-item
        flex(1)
		relative()
        line-vertical-middle(43px)
        text-align: center
        font-size: 16px
        &.on
            &:before, &:after
                size(0)
				absolute(left 50% bottom 0)
				margin-left: -8px
                content: ''
				display: block
                border-left: 8px solid transparent
                border-right: 8px solid transparent
                border-bottom: 8px solid transparent
            &:after
                bottom: -1px

.muui-tab-panel
    display: none !important
    &.on
        display: block !important

if $theme is 'main'
    .muui-tab
        border-color: $light_grey
        .muui-tab-item
            color: $grey
            background: #fbfbfb
            &.on
                color: $blue
                background: #fbfbfb
                border-color: #fbfbfb
                &:before
                    border-bottom-color: $light_grey
                &:after
                    border-bottom-color: #fbfbfb
            &.hover
                background: #fbfbfb
