$slider_arrows_weight = 30px
$slider_arrows_height = 100px

muui-slider-ctrl-bg()
    opacity(.5)
    absolute(top left bottom right)
    width: 100%
    content: ''
    z-index: 1
    background: $black

.muui-slider
    relative()
    inline-block()
    padding: 0 ($slider_arrows_weight / 2)
    .viewport
        relative()
        overflow: hidden
    .overview
        absolute(top 0)
    .muui-slider-item
        &, img
            float: left
            display: inline
    .dots
        absolute(right 10px bottom 10px)
        padding: 5px 0
        overflow: hidden
        .dot
            size(6px)
            relative()
            hide-text()
            float-left()
            border-radius(5px)
            transition(width, .5s, ease-out)
            z-index: 2
            margin: 0 3px
            cursor: pointer
            background: $light_grey
            &.active
                background: $light_blue
                width: 15px
        &:after
            border-radius(5px)
            muui-slider-ctrl-bg()
    .arrows
        size(100%, $slider_arrows_height)
        absolute(left top 50%)
        display: none
        margin-top: - ($slider_arrows_height / 2)
        .arrow
            relative()
            hide-text()
            size($slider_arrows_weight, 100%)
            cursor: pointer
            &.prev
                float-left()
            &.next
                float-right()
                &:before
                    background: url('/st/ui/slider/arrow_right.png') no-repeat
            &.on
                &:before
                    opacity(1)
            &:after
                border-radius(4px)
                muui-slider-ctrl-bg()
            &:before
                opacity(.5)
                inline-block()
                size(13px, 21px)
                absolute(left 50% top 50%)
                margin-left: -6.5px
                margin-top: -10.5px
                z-index: 2
                content: ''
                background: url('/st/ui/slider/arrow_left.png') no-repeat
