block vars
- String.prototype.capitalize = function() { return this.charAt(0).toUpperCase() + this.substring(1).toLowerCase(); }
doctype html
html
    head
        title
            block title
                | MuUI - #{ui_name.capitalize()}
        meta(charset="utf-8")
        meta(name="vieport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/st/css/core/layout.css")
        link(rel="stylesheet", href="/st/css/theme/main.css")
        link(rel="stylesheet", href="/st/css/ui/#{ui_name}.css")
        <!--[if lt IE 9]>
        <script src="/st/bower/html5shiv/dist/html5shiv.min.js"></script>
        <![endif]-->
        block head
        style
            block css
    body.muui-theme-main
        include ./header
        #content
            .center-wrap
                block content
        include ./footer
        script(src="/st/bower/requirejs/require.js")
        script
            :coffee
                require.config
                    deps: ['jquery', 'lodash']
                    baseUrl: '/st/js'
                    paths:
                        tmpl: '/st/tmpl'
                        jquery: '/st/bower/jquery/dist/jquery.min'
                        lodash: '/st/bower/lodash/dist/lodash.min'
        script
            block js
