block vars
- String.prototype.capitalize = function() { return this.charAt(0).toUpperCase() + this.substring(1).toLowerCase(); }
doctype html
html
    head
        title
            block title
                if ui_name
                    | MuUI - #{ui_name.capitalize()}
                else
                    | MuUI - 百度音乐UI组件库
        meta(charset="utf-8")
        meta(name="vieport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/st/css/core/layout.css")
        if ui_name
            link(rel="stylesheet", href="/st/ui/#{ui_name}/index.css")
        else
            link(rel="stylesheet", href="/st/css/index.css")
        <!--[if lt IE 9]>
        <script src="/st/bower/html5shiv/dist/html5shiv.min.js"></script>
        <![endif]-->
        block head
        style
            block css
    body.muui-theme-main
        include ./header
        #content
            .center-wrap
                block content
        include ./footer
        if ui_name
            script(src="/st/bower/requirejs/require.js")
            script
                :coffee
                    require.config
                        deps: ['jquery', 'lodash']
                        baseUrl: '/st/js'
                        paths:
                            muui: '/st/ui'
                            text: '/st/bower/requirejs-text/text'
                            jquery: '/st/bower/jquery/dist/jquery.min'
                            lodash: '/st/bower/lodash/dist/lodash.min'
            script
                block js
