block vars
- String.prototype.capitalize = function() { return this.charAt(0).toUpperCase() + this.substring(1).toLowerCase(); }
doctype html
html
    head
        title
            block title
                if uiName
                    | MuUI - #{uiName.capitalize()}
                else
                    | MuUI - 百度音乐UI组件库
        meta(charset="utf-8")
        meta(name="vieport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/st/css/layout.css")
        if uiName
            link(rel="stylesheet", href="/st/ui/#{uiName}/index.css")
        else
            link(rel="stylesheet", href="/st/css/index.css")
        <!--[if lt IE 9]>
        <script src="/st/bower/html5shiv/dist/html5shiv.min.js"></script>
        <![endif]-->
        block head
        style
            block css
    body.muui-theme-main
        include ./header
        #content
            .center-wrap
                block content
        include ./footer
        if uiName
            script(src="/st/js/init.js")
            script
                block js
