block vars
- String.prototype.capitalize = function() { return this.charAt(0).toUpperCase() + this.substring(1).toLowerCase(); }
doctype html
html
    head
        title
            block title
                | MuUI - #{ui_name.capitalize()}
        meta(charset="utf-8")
        meta(name="vieport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/st/css/layout.css")
        link(rel="stylesheet", href="/st/ui/webapp_#{ui_name}/index.css")
        block head
        style
            block css
    body.muui-theme-webapp-main
        include ./webapp_header
        #content
            block content
        include ./footer
        if ui_name
            script(src="/st/js/webapp_init.js")
            script
                block js
