block vars
- String.prototype.capitalize = function() { return this.charAt(0).toUpperCase() + this.substring(1).toLowerCase(); }
doctype html
html
    head
        title
            block title
                | MuUI - #{ui_name.capitalize()}
        meta(charset="utf-8")
        meta(name="vieport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/st/css/core/layout.css")
        link(rel="stylesheet", href="/st/ui/webapp_#{ui_name}/index.css")
        block head
        style
            block css
    body.muui-theme-webapp-main
        include ./webapp_header
        #content
            block content
        include ./footer
        script(src="/st/bower/requirejs/require.js")
        script
            :coffee
                require.config
                    deps: ['zepto', 'lodash']
                    baseUrl: '/st/js'
                    paths:
                        muui: '/st/ui'
                        text: '/st/bower/requirejs-text/text'
                        zepto: '/st/bower/zeptojs/dist/zepto.min'
                        lodash: '/st/bower/lodash/dist/lodash.min'
        script
            block js
