$pager_color = $blue
$pager_height = 24px
$pager_border_color = #e7ecf0
$pager_disabled_color = #ccc

.muui-pager
    clearfix()
    // HACK: 去除inline-block元素的间隙
    // 参考: http://css-tricks.com/fighting-the-space-between-inline-block-elements/
    font-size: 0
    -webkit-text-size-adjust: none
    text-align: center
    &.text-left, &.text-right
        text-align: left
        .muui-pager-item, .muui-pager-ellipse
            float-left()
    &.text-right
        float-right()
        text-align: right
    .muui-pager-item, .muui-pager-ellipse
        inline-block()
        line-vertical-middle($pager_height)
        // http://stackoverflow.com/questions/4053575/css-inline-block-element-with-no-text-renders-differently
        vertical-align: bottom
        color: $pager_color
        font-size: 14px
        text-align: center
        margin-right: 5px
    .muui-pager-item
        border($pager_border_color)
        padding: 0 8px
        text-decoration: none
        background: $white
        &.on
            background: $pager_border_color
        &.cur
            cursor: text
            border: none
            color: $black
            background: transparent
    .muui-pager-prev, .muui-pager-next
        relative()
        &:after
            absolute(top 50%)
            line-vertical-middle($pager_height)
            margin-top: - ($pager_height / 2)
        &.muui-pager-disabled
            cursor: not-allowed
            color: $pager_disabled_color
    .muui-pager-prev
        padding-left: 18px
        &:after
            left: 8px
            content: '<'
    .muui-pager-next
        padding-right: 18px
        margin-right: 0
        &:after
            right: 8px
            content: '>'
